<div class="content-pane container">
    <div class="row" style="padding: 5em;">
        <div class="alert alert-info">ArchivesSpace is now being refreshed.  Please check back in 2 minutes.</div>
    </div>
</div>
